.summaryContainer {
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;
}

.summary {
  margin-bottom: 32px;

  &Name {
    margin-bottom: 0;
  }

  &Items {
    padding-left: 0;
    margin: 0;
  }

  &Complete &Name {
    text-decoration: line-through;
    opacity: 0.7;
  }
}
