.formButton {
  display: inline-block;
  background: white;
  color: #1763bb;
  border-style: none;
  border: 1px solid #1763bb;
  border-radius: 4px;
  height: 32px;
  padding: 2px 16px;

  &:hover {
    cursor: pointer;
    color: white;
    background: #1763bb;
  }

  &Loading {
    opacity: 0.7;
    pointer-events: none;
  }
}

.formButtonPrimary {
  width: 160px;
  background: #1763bb;
  color: aliceblue;

  &:hover {
    cursor: pointer;
    color: #1763bb;
    background: aliceblue;
  }
}
