.formInput {
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;

  &:hover {
    background: #f3f3f3;
  }
}

.formTextarea {
  display: block;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  width: 90%;

  &:hover {
    background: #f3f3f3;
  }
}
