.dashboard {
  padding: 16px;
  margin: 0 auto;
  max-width: 1024px;

  &Content {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    gap: 5%;

    section:first-child {
      flex-grow: 1;
      min-width: 60%;
    }

    section:nth-child(2) {
      flex-grow: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 8px;

    &Content {
      max-height: 100%;
    }
  }
}
